<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81217937780-83d5no1gc0f5q4po1o9b9ehmg9u7691v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81217937780-83d5no1gc0f5q4po1o9b9ehmg9u7691v</string>
	<key>API_KEY</key>
	<string>AIzaSyBGL863rS8DMPYB-alzAyRhMzsDc6k8pbE</string>
	<key>GCM_SENDER_ID</key>
	<string>81217937780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hadyhammad.Volunteer</string>
	<key>PROJECT_ID</key>
	<string>volunteer-e08f3</string>
	<key>STORAGE_BUCKET</key>
	<string>volunteer-e08f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81217937780:ios:fccc2701838967c4</string>
	<key>DATABASE_URL</key>
	<string>https://volunteer-e08f3.firebaseio.com</string>
</dict>
</plist>